<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Makan Terus App</title>
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content?</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Makan Terus</h1>
      </div>
      <a href="#" id="menu" class="header__menu" >☰</a>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item">
          <a href="https://www.linkedin.com/in/m-fajar-aditya/">About Us</a>
        </li>
      </ul>
    </nav>
    <div class="hero"></div>

    <main id="content">
      <section class="content">
        <div class="latest">
          <h1>Explore Restaurant</h1>
          <div class="posts" id="meals"></div>
        </div>
      </section>
    </main>

    <footer>
      <p>Copyright &copy; 2022 - <span class="makan">Makan Terus</span></p>
    </footer>
  </body>
</html>
