<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link rel="stylesheet" href="/src/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="#content" class="skip-link">Skip to content?</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">Restaurant Apps</h1>
        </div>
        <a id="menu" class="header__menu">☰</a>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item"><a href="#">About Us</a></li>
        </ul>
    </nav>
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0,0,5,.5)), url('../public/images/heros/hero.jpg');">
        <div class="hero__inner">
            <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
            <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
        </div>
    </div>

    <!-- Content -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>

<footer>
    <p>Copyright &copy; 2022 - Rasa Banjar</p>
</footer>
</body>
</html>
